.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.searchInput {
  width: 95%;
  height: 50px;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: x-large;
  color: transparent;
  text-shadow: 0 0 0 black;
  border-color: transparent;

}

.searchInput:focus {
  outline: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homeSlogan{
  color: #FF5F6D;
  /* opacity: 100%; */
  /* border: 3px solid #FF5F6D; */
  font-size: 6.2em;
  font-family: 'Dancing Script', cursive;
  margin: 0;
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* font-family: Arial, Helvetica, sans-serif; */
}

@media only screen and (max-width: 1250px) {
  .homeSlogan {
    font-size: 4em;
  }
}

@media only screen and (max-width: 600px) {
  .homeSlogan {
    font-size: 3.5em;
  }
}

.sloganBox{
  position: absolute;
  top: 400;
  /* left: 500; */

  border-radius: 20px;
  background: rgba(139, 59, 59, 0.5);
  opacity: 50%;
  border: 5px solid #FF5F6D;
  height: 300px;
  /* width: 80%; */
}